/*estilo do corpo*/
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: antiquewhite;
    color: palevioletred;
}

/*Cabeçalho e Navegação*/
header {
    background-color: palevioletred;
    padding: 10px 0;
}
header nav ul{ 
    list-style: none;
    text-align: center;
}
header nav li{ 
    display: inline-block;
    margin: 0 20px;
}
header nav ul li a{
    color: antiquewhite;
    text-decoration: none;
    font-size: 18px;
}
header nav ul li a:hover{
    color: pink;
}
.ini-section{
    text-align: center;
    color: pink;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.ini-section h1{
    font-size: 48px;
    margin-bottom: 20px;
}
.ini-section p{
    font-size: 20px;
    margin-bottom: 20px;
    max-width: 600px;
}
.cta-button{ 
    background-color: palevioletred;
    color: antiquewhite;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.5s;
}

.cta-button:hover {
    background-color: pink;
}

.sobre-section{
    background-color: palevioletred;
    padding: 50px 20px;
    text-align: center ;
}
.sobre-section h2{
    color: antiquewhite;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 40px;
}
.sobre-section p{
    color: antiquewhite;
    font-size: 18px;
    margin-bottom: 20px;
    max-width: 800px;
    margin: 0 auto 20px auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#planos{
    background-color: palevioletred;
    text-align: center;
    padding: 50px 20px;
}
.cards{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.card{
    background-color: palevioletred;
    color: rgb(196, 26, 97);
    padding: 20px;
    border-radius: 8px;
    width: 250px;
    box-shadow: 0 4px 8px rgb(207, 85, 105);
    cursor: pointer;
    transition: 0,5s;
    margin-bottom: 30px;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px white;
    background-color: pink;
}
.card h3{
    font-size: 23px;
    margin-bottom: 5px;
}
.card p{
    font-size: 16px;
    margin-bottom: 5px;
}
.preço{
    font-weight: bold;
    font-size: 18px;
}
#serviços h2{
    font-size: 30px;
    color: palevioletred;
    text-align: center;
    margin-bottom:20px ;
}
/*sessão de contato*/

#contato{
    background-color: palevioletred;
    color: antiquewhite;
    padding: 50px 20px;
    text-align: center;
}
#contato h2{
    font-size: 30px;
    margin-bottom: 20px;
}
.contato-form{
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
}
.contato-form label{
    display: block;
    margin-bottom: 5px;
}
.contato-form input,.contato-form textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
}
.contato-form button{
    background-color: pink;
    color: antiquewhite;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}
