.corpo {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .cabeça {
    background-color: pink;
    padding: 10px 0;
    }
    .menu {
    display: flex;
    justify-content: center;
    }
    .menu a{
    color: antiquewhite;
    padding: 14px 20px;
    transition: background 0.3s;
    }
    .menu a:hover {
    background-color: palevioletred;
    }
    .RODAPE {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: fixed;
        color: palevioletred;
        text-align: center;
        padding: 5PX 0;
    }